body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(150deg, black,gray,black);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
 .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: white;
    border-radius: 10px;
    width: 600px;
    height: 600px;
    border-radius: 15px;
 }
 img{
    width: 30px;
    height: auto;
    position: relative;
    top: 20px;
    left: 20px;
    
 }
 h1{
    text-align: center;
    color:rgb(245, 111, 15);
    font-size: 2.5em;
    padding: 20px;
    position: relative;
    bottom: 20px;
    border-bottom: 1px solid gray;
 }
 .s{
    text-align: center;
    position: relative;
    bottom: 20px;

 }
.sss{
    position: relative;
   left: 35%;
   font-size: 15px;
}
.contenedor input[type="text"],
.contenedor input[type="email"]{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    left:10%;
    background-color: white;
    transition: all 0.8s ease; 
}
.contenedor input[type="text"]:hover,
.contenedor input[type="email"]:hover{
    background-color:red;
    transform: scale(1.1);
}
input[type="checkbox"] {
    width: 14px;
    height: 14px;
    accent-color: #3498db; /* cambia el color del checkbox moderno */
    margin-right: 5px;
    position: relative;
    left: 60px;
    top: 35px;
  }
  .ss{
    position: relative;
    left: 100px;
   
  }
  .ss a{
    color: red;
    text-decoration: none;
  }

  button{
    width: 40%;
    height: 40px;
    position: relative;
    top: 20px;
    left: 30%;
    border-radius: 15px;
    background-color: chocolate;
    font-size: 18px;
    color: white;
    transition: all 0.8s ease;
  }
  button:hover{
    transform: scale(1.1);
  }